@-webkit-keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@-moz-keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@-o-keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

.ball-grid-beat {
  width: 57px; }
  .ball-grid-beat > div:nth-child(1) {
    -webkit-animation-delay: 0.49s;
       -moz-animation-delay: 0.49s;
         -o-animation-delay: 0.49s;
            animation-delay: 0.49s;
    -webkit-animation-duration: 0.74s;
       -moz-animation-duration: 0.74s;
         -o-animation-duration: 0.74s;
            animation-duration: 0.74s; }
  .ball-grid-beat > div:nth-child(2) {
    -webkit-animation-delay: 0.58s;
       -moz-animation-delay: 0.58s;
         -o-animation-delay: 0.58s;
            animation-delay: 0.58s;
    -webkit-animation-duration: 1.39s;
       -moz-animation-duration: 1.39s;
         -o-animation-duration: 1.39s;
            animation-duration: 1.39s; }
  .ball-grid-beat > div:nth-child(3) {
    -webkit-animation-delay: 0.34s;
       -moz-animation-delay: 0.34s;
         -o-animation-delay: 0.34s;
            animation-delay: 0.34s;
    -webkit-animation-duration: 0.84s;
       -moz-animation-duration: 0.84s;
         -o-animation-duration: 0.84s;
            animation-duration: 0.84s; }
  .ball-grid-beat > div:nth-child(4) {
    -webkit-animation-delay: 0.7s;
       -moz-animation-delay: 0.7s;
         -o-animation-delay: 0.7s;
            animation-delay: 0.7s;
    -webkit-animation-duration: 0.96s;
       -moz-animation-duration: 0.96s;
         -o-animation-duration: 0.96s;
            animation-duration: 0.96s; }
  .ball-grid-beat > div:nth-child(5) {
    -webkit-animation-delay: -0.14s;
       -moz-animation-delay: -0.14s;
         -o-animation-delay: -0.14s;
            animation-delay: -0.14s;
    -webkit-animation-duration: 1.32s;
       -moz-animation-duration: 1.32s;
         -o-animation-duration: 1.32s;
            animation-duration: 1.32s; }
  .ball-grid-beat > div:nth-child(6) {
    -webkit-animation-delay: 0.54s;
       -moz-animation-delay: 0.54s;
         -o-animation-delay: 0.54s;
            animation-delay: 0.54s;
    -webkit-animation-duration: 1.33s;
       -moz-animation-duration: 1.33s;
         -o-animation-duration: 1.33s;
            animation-duration: 1.33s; }
  .ball-grid-beat > div:nth-child(7) {
    -webkit-animation-delay: 0.11s;
       -moz-animation-delay: 0.11s;
         -o-animation-delay: 0.11s;
            animation-delay: 0.11s;
    -webkit-animation-duration: 0.63s;
       -moz-animation-duration: 0.63s;
         -o-animation-duration: 0.63s;
            animation-duration: 0.63s; }
  .ball-grid-beat > div:nth-child(8) {
    -webkit-animation-delay: 0.47s;
       -moz-animation-delay: 0.47s;
         -o-animation-delay: 0.47s;
            animation-delay: 0.47s;
    -webkit-animation-duration: 1.34s;
       -moz-animation-duration: 1.34s;
         -o-animation-duration: 1.34s;
            animation-duration: 1.34s; }
  .ball-grid-beat > div:nth-child(9) {
    -webkit-animation-delay: 0.37s;
       -moz-animation-delay: 0.37s;
         -o-animation-delay: 0.37s;
            animation-delay: 0.37s;
    -webkit-animation-duration: 1.29s;
       -moz-animation-duration: 1.29s;
         -o-animation-duration: 1.29s;
            animation-duration: 1.29s; }
  .ball-grid-beat > div {
    background-color: #6B6F82;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
    float: right;
    -webkit-animation-name: ball-grid-beat;
       -moz-animation-name: ball-grid-beat;
         -o-animation-name: ball-grid-beat;
            animation-name: ball-grid-beat;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
       -moz-animation-delay: 0;
         -o-animation-delay: 0;
            animation-delay: 0; }
