@-webkit-keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-moz-keyframes ball-grid-pulse {
  0% {
    -moz-transform: scale(1);
         transform: scale(1); }
  50% {
    -moz-transform: scale(0.5);
         transform: scale(0.5);
    opacity: 0.7; }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
    opacity: 1; } }

@-o-keyframes ball-grid-pulse {
  0% {
    -o-transform: scale(1);
       transform: scale(1); }
  50% {
    -o-transform: scale(0.5);
       transform: scale(0.5);
    opacity: 0.7; }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
    opacity: 1; } }

@keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
         -o-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-grid-pulse {
  width: 57px; }
  .ball-grid-pulse > div:nth-child(1) {
    -webkit-animation-delay: 0.7s;
       -moz-animation-delay: 0.7s;
         -o-animation-delay: 0.7s;
            animation-delay: 0.7s;
    -webkit-animation-duration: 0.96s;
       -moz-animation-duration: 0.96s;
         -o-animation-duration: 0.96s;
            animation-duration: 0.96s; }
  .ball-grid-pulse > div:nth-child(2) {
    -webkit-animation-delay: 0.62s;
       -moz-animation-delay: 0.62s;
         -o-animation-delay: 0.62s;
            animation-delay: 0.62s;
    -webkit-animation-duration: 1.56s;
       -moz-animation-duration: 1.56s;
         -o-animation-duration: 1.56s;
            animation-duration: 1.56s; }
  .ball-grid-pulse > div:nth-child(3) {
    -webkit-animation-delay: -0.07s;
       -moz-animation-delay: -0.07s;
         -o-animation-delay: -0.07s;
            animation-delay: -0.07s;
    -webkit-animation-duration: 1.15s;
       -moz-animation-duration: 1.15s;
         -o-animation-duration: 1.15s;
            animation-duration: 1.15s; }
  .ball-grid-pulse > div:nth-child(4) {
    -webkit-animation-delay: -0.01s;
       -moz-animation-delay: -0.01s;
         -o-animation-delay: -0.01s;
            animation-delay: -0.01s;
    -webkit-animation-duration: 1.42s;
       -moz-animation-duration: 1.42s;
         -o-animation-duration: 1.42s;
            animation-duration: 1.42s; }
  .ball-grid-pulse > div:nth-child(5) {
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 0.89s;
       -moz-animation-duration: 0.89s;
         -o-animation-duration: 0.89s;
            animation-duration: 0.89s; }
  .ball-grid-pulse > div:nth-child(6) {
    -webkit-animation-delay: 0.46s;
       -moz-animation-delay: 0.46s;
         -o-animation-delay: 0.46s;
            animation-delay: 0.46s;
    -webkit-animation-duration: 0.99s;
       -moz-animation-duration: 0.99s;
         -o-animation-duration: 0.99s;
            animation-duration: 0.99s; }
  .ball-grid-pulse > div:nth-child(7) {
    -webkit-animation-delay: 0.09s;
       -moz-animation-delay: 0.09s;
         -o-animation-delay: 0.09s;
            animation-delay: 0.09s;
    -webkit-animation-duration: 1.08s;
       -moz-animation-duration: 1.08s;
         -o-animation-duration: 1.08s;
            animation-duration: 1.08s; }
  .ball-grid-pulse > div:nth-child(8) {
    -webkit-animation-delay: -0.1s;
       -moz-animation-delay: -0.1s;
         -o-animation-delay: -0.1s;
            animation-delay: -0.1s;
    -webkit-animation-duration: 1.1s;
       -moz-animation-duration: 1.1s;
         -o-animation-duration: 1.1s;
            animation-duration: 1.1s; }
  .ball-grid-pulse > div:nth-child(9) {
    -webkit-animation-delay: 0.45s;
       -moz-animation-delay: 0.45s;
         -o-animation-delay: 0.45s;
            animation-delay: 0.45s;
    -webkit-animation-duration: 0.62s;
       -moz-animation-duration: 0.62s;
         -o-animation-duration: 0.62s;
            animation-duration: 0.62s; }
  .ball-grid-pulse > div {
    background-color: #6B6F82;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
    float: right;
    -webkit-animation-name: ball-grid-pulse;
       -moz-animation-name: ball-grid-pulse;
         -o-animation-name: ball-grid-pulse;
            animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
       -moz-animation-delay: 0;
         -o-animation-delay: 0;
            animation-delay: 0; }
