@-webkit-keyframes line-scale-party {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-moz-keyframes line-scale-party {
  0% {
    -moz-transform: scale(1);
         transform: scale(1); }
  50% {
    -moz-transform: scale(0.5);
         transform: scale(0.5); }
  100% {
    -moz-transform: scale(1);
         transform: scale(1); } }

@-o-keyframes line-scale-party {
  0% {
    -o-transform: scale(1);
       transform: scale(1); }
  50% {
    -o-transform: scale(0.5);
       transform: scale(0.5); }
  100% {
    -o-transform: scale(1);
       transform: scale(1); } }

@keyframes line-scale-party {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
         -o-transform: scale(0.5);
            transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); } }

.line-scale-party > div:nth-child(1) {
  -webkit-animation-delay: 0.55s;
     -moz-animation-delay: 0.55s;
       -o-animation-delay: 0.55s;
          animation-delay: 0.55s;
  -webkit-animation-duration: 0.79s;
     -moz-animation-duration: 0.79s;
       -o-animation-duration: 0.79s;
          animation-duration: 0.79s; }

.line-scale-party > div:nth-child(2) {
  -webkit-animation-delay: 0.43s;
     -moz-animation-delay: 0.43s;
       -o-animation-delay: 0.43s;
          animation-delay: 0.43s;
  -webkit-animation-duration: 0.8s;
     -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
          animation-duration: 0.8s; }

.line-scale-party > div:nth-child(3) {
  -webkit-animation-delay: 0.21s;
     -moz-animation-delay: 0.21s;
       -o-animation-delay: 0.21s;
          animation-delay: 0.21s;
  -webkit-animation-duration: 0.52s;
     -moz-animation-duration: 0.52s;
       -o-animation-duration: 0.52s;
          animation-duration: 0.52s; }

.line-scale-party > div:nth-child(4) {
  -webkit-animation-delay: -0.09s;
     -moz-animation-delay: -0.09s;
       -o-animation-delay: -0.09s;
          animation-delay: -0.09s;
  -webkit-animation-duration: 1.1s;
     -moz-animation-duration: 1.1s;
       -o-animation-duration: 1.1s;
          animation-duration: 1.1s; }

.line-scale-party > div {
  background-color: #6B6F82;
  width: 4px;
  height: 3.45rem;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  -webkit-animation-name: line-scale-party;
     -moz-animation-name: line-scale-party;
       -o-animation-name: line-scale-party;
          animation-name: line-scale-party;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0; }
